$font-size: 50px;
$font-size-span: 35px;
$border: 1px solid red;
$color-saludo: green;
$color-respuesta: brown;
$align-saludo: flex-start;
$align-respuesta: flex-end;
$border-message: 1px dashed black;