#ejemplo {
  color: red;
  border: 1px dashed pink;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#gradual {
  background-color: purple;
  width: 600px;
  height: 400px;
  animation-name: crecer;
  animation-duration: 10s;
}

#gradual:hover {
  animation-name: sobre;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

@keyframes sobre {
  from { background-color: purple; }
  to { background-color: red; }
}

@keyframes crecer {
  /* from {
    width: 0;
  }
  to {
    width: 600px;
  } */
  0% {
    width: 0;
  }

  25% {
    /* width: 200px; */
    background-color: aquamarine;
  }

  50% {
    /* width: 400px; */
  }

  75% {
    /* width: 500px; */
    background-color: black;
  }

  100% {
    width: 600px;
  }
}

.contenedor-img {
  width: 0;
}

.contenedor-img > img {
  width: 100%;
  height: 100%;
}

#control-img {
  margin: 8px;
  display: block;
}

#control-img:hover {
  cursor: pointer;
  & ~ .contenedor-img {
    animation-name: verimagen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
}

@keyframes verimagen {
  from {
    width: 0;
  }

  to {
    width: 100%; 
  }
}